@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --cor-branca: white;
    --cor-dourada: #CBB26A;
    --cor-preta: black;
    --cor-dourado-claro: #D8C690;
    --cor-clara: #fcf6e5;
    --cor-cinza-escuro: #1A1A1A;
}

body {
    background-color: var(--cor-clara);
}

.itens_nav {
    font-size: 16px;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.texto1 a:hover {
    color: var(--cor-dourado-claro);
}

.texto1 {
    color: var(--cor-preta);
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.texto1 a {
    color: var(--cor-preta);
}

.texto2 {
    background-color: var(--cor-dourada);
    color: var(--cor-branca);
    padding: 1% 3%;
    border-radius: 8px;
}

.texto2 a{
    color: var(--cor-branca);
}

.texto2:hover {
    background-color: var(--cor-dourado-claro);
}

.primeiradiv {
    display: flex;
    flex-direction: column;
    gap: 22px;
}


.titulo1{
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.paragrafo1 {
    text-align: center;
    font-size: 22px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
}

.ul_produtos {
    padding: 2% 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin: 0 auto;
}


.produtoscaixa {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    border: 2px solid var(--cor-dourada);
    border-radius: 10px;
    padding: 15px;
}

.produtoscaixa a {
    color: var(--cor-preta);
}

.produtoscaixa a:hover {
    background-color: var(--cor-dourado-claro);
    font-size: 20px;
}

.titulo2 {
    text-align: center;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.paragrafoprodutos {
    color: gray;
}

.letrinhas {
    font-size: 16px;
}

.precoantigo {
    text-decoration: line-through
}

.preconegrito {
    font-size: 28px;
    font-weight: 700;
}

.botao_comprar {
    background-color: var(--cor-dourada);
    border: 2px solid var(--cor-preta);
    border-radius: 10px;
    padding: 12px;
}

.perguntas {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 5%;
}

.paragrafosection1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
}

.paragrafosection {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 22px;
}

.rodape {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    font-size: 0.75rem;
    font-family: 'Sans Open', sans-serif;
    padding: 2.5em;
    display: flex;
    justify-content: center;
    gap: 1.4em;
    text-align: center;
}

.links_rodape {
    color: var(--cor-preta);
    text-decoration: none;
    font-family: 'Sans Open', sans-serif;
}

.nav_links a:hover {
    color: var(--cor-dourada);
    text-decoration: underline;
    font-size:0.80rem;
}

.nav_links a:active {
    font-size: 0.75rem;
}

.div_texto_rodape {
    padding: 3em;
    align-items: center;
}

.paragrafo__rodape {
    display: block;
    font-size: 0.85rem;
    font-weight: 400;
    font-family: 'Sans Open', sans-serif;
    text-align: center;
    margin-bottom: 2em;
}

.paragrafo__rodape2 {
    text-align: center;
}

@media ( max-width :853px) {
    .primeiradiv {
        display: flex;
        margin: 0 auto;
    }

    .ul_produtos {
        flex-direction: column;
    }


    .nav_links {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
    
    .paragrafo__rodape {
        font-size: 1vh;
        margin: 0 auto;
    }

    .paragrafo__rodape2 {
        font-size: 1vh;
        margin: 0 auto;
    }
}